* { font-family: sans-serif; }
html { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

html, body {
    margin: 0;
    overflow: clip;
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: auto;
}
body > *:not(#mainCanvas) {
    position: absolute;
    top: calc(110vh + 50%); /* Start offscreen */
    translate: -50% -50%;
    width: max-content;
}
