* { font-family: sans-serif; }

html, body { margin: 0; overflow: clip; }
canvas {
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}
body > *:not(#mainCanvas) {
    position: absolute;
    top: calc(110vh + 50%); /* Start offscreen */
    translate: -50% -50%;
    width: max-content;
}
