* { font-family: sans-serif; }
html { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    position: fixed;
    inset: 0;
    width: 100%;
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: auto;
}
body > *:not(#mainCanvas) {
    position: absolute;
    top: calc(110vh + 50%); /* Start offscreen */
    translate: -50% -50%;
    width: max-content;
}

.allowclick {
    pointer-events: auto !important;
    cursor: pointer;
}
:root.block *.allowclick { pointer-events: none !important; }

.nosel {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
.allowdrag {
    -webkit-user-drag: element;
    user-drag: element;
    -webkit-user-select: text;
    user-select: text;
    cursor: initial;
}
